.margin {
    margin: 5%;
}
.mainNavigationBar {
    background-color: rgb(74.1,12.9,55.7);
    color: white;
}
.overlayMargin {
    margin-left: 2%;
}
.titel {
    font-weight: bolder;
}
.button {
    margin-left: 5px;
}
