<div class="beschreibung">
<mat-card class="transparent">
  <span><strong>
    Jam Session ermöglicht es dir und deinen Freunden zusammen Musik zu machen. Dir stehen über 100 Musiksamples zur Verfügung.
    Öffne eine Session. Lass deine Freunde beitreten und LET'S ROCK!
  </strong></span>
</mat-card>
</div>
<p></p>
<div class="developer">
<mat-card class="transparent">
  <h2>Entwicklerteam</h2>
  <span color="white"><strong>
      Diese Website wurde im Rahmen einer Programmierarbeit im 
      Fachgebiet Web-Engineering II an der DHBW Stuttgart von folgenden Studenten entwickelt:
      <p></p>
      Lukas Heubach - Executive Chief Producer Backend und Frontendverknüpfung
      <p></p>
      Leonhard Krause - Supervisor Frontend und Design
      <p></p>
      Jörn Frerichs - Expert in Chief Frontend und Gesamtkonzept
      <p></p>
      Adrian Buchwald - Design Control
      <p></p>
      David Schau - Sound Engineer & Frontendlayout
  </strong>  
  </span>
</mat-card>
</div>
