<div class="beschreibung">
  <span><strong>
    Jam Session ermöglicht es dir und deinen Freunden zusammen Musik zu machen. Dir stehen über 100 Musiksamples zur Verfügung.
    Öffne eine Session. Lass deine Freunde beitreten und LET'S ROCK!
  </strong></span>
</div>
<p></p>
<div class="developer">
  <h2>Entwicklerteam</h2>
  <span><strong>
      Diese Website wurde im Rahmen einer Programmierarbeit im 
      Fachgebiet Web-Engineering II an der DHBW Stuttgart von folgenden Studenten entwickelt:
      <p></p>
      Lukas Heubach - Executive Chief Producer Backend und Frontendverknüpfung
      <p></p>
      Leonhard Krause - Supervisor Frontend und Design
      <p></p>
      Jörn Frerichs - Expert in Chief Frontend und Gesamtkonzept
      <p></p>
      Adrian Buchwald - Hat Kaffee geholt und den Kopierer bedient
      <p></p>
      David Schau - War während der Entwicklungszeit damit beschäftigt die Genehmigung für ein Sample von Bella Ciao zu bekommen
  </strong>  
  </span>
</div>
