.margin {
    margin: 2%;
}
.developer {
    width: 700px;
    margin-left: 30%;
    text-align: center;
}
.beschreibung {
    width: 700px;
    margin-left: 30%;
    margin-top: 5%;
    text-align: center;
}
.transparent {
    background: rgba(256, 256, 256, 0.5);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    background-color:rgba(139,102,139, 0.6);
    color: white;
}