.sessionCard {
    width: 90%;
    margin-top: 2%;
    margin-left: 4%;
}
.spinnig {
    size: 50%;
}
.sessionCardHeader {
    margin-top: 10px;
    background: rgba(139,102,139, 0.8);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    border-radius: 2px 2px 0px 0px;
}
.sessionCardContent {
    border-radius: 0px;
    background: rgba(139,102,139, 0.6);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    height: 70vh;
}
.newButton {
    background-color: rgb(74.1,12.9,55.7);
    margin-left: 10px;
    color: white;
}
.refreshButton {
    margin-left: 10px;
    background-color: rgb(74.1,12.9,55.7);
    color: white;
}
.sessionCardLabel {
    font-weight: bolder;
    font-size: 20px;
}
.sessionListCard {
    display: flex;
    border-radius: 0px;
    color: white;
    background-color: rgb(74.1,12.9,55.7);
}
.sessionListDivider {
    border-radius: 0px;
    height: 5px !important;
    width: 100%;
    background-color: white;
}
.joinButton {
    margin-left: 10px;
}
