<mat-card class="sessionCardHeader">
    <mat-label class="sessionCardLabel">Aktuelle Sessions</mat-label>
    <button class="refreshButton" mat-raised-button (click)="requestAllSessions()"><mat-icon>refresh</mat-icon>refresh</button>
    <button class="newButton" mat-raised-button (click)="openCreateDialog()"><mat-icon>add_box</mat-icon>new JamSession</button>
</mat-card>
<mat-card class="sessionCardContent">
    <mat-spinner *ngIf="spinningBool" class="spinning"></mat-spinner>
    <p></p>
    <mat-divider inset="true"></mat-divider>
    <p></p>
    <mat-error *ngIf="noSessions">Hoppla, keine Sessions vorhanden</mat-error>
    <div *ngFor="let session of sessions">
      <mat-label>Session Name: {{session}}</mat-label>
    </div>
</mat-card>
