@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main {
    background-image: url('assets/mainBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.create-dialog .mat-dialog-container { 
    background: rgba(139,102,139);
}
