.soundCard {
    background-color:rgba(139,102,139, 0.6);
    color: white;
}
.buttons {
    margin: 1%;
    background-image: url('../../assets/soundButtonGif.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.buttons:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
