<mat-card class="soundCard">
  <mat-card-title>
    Hier kannst dir einmal eine Auswahl an Sounds anhören
  </mat-card-title>
  <mat-grid-list cols="6" rowHeight="50px" colWidth="100px">
      <mat-grid-tile *ngFor="let sound of allAudioFiles">
          <button mat-raised-button class="buttons" (click)="requestAllSounds(sound.instrumentType, sound.pitchType, sound.effect)">{{sound.instrumentType}}-{{sound.pitchType}}-{{sound.effect}}</button>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>